body {
  background-color: #d4efdf;
  font-size: 1em;
}
h1 {
  font-size: 2.5em;
  padding: 5%;
}
#birthgroup input, label {
  padding: 10px;
  width: 100%;
}
#phonegroup input, label {
  padding: 10px;
  width: 100%;
}
#emailgroup input, label {
  padding: 10px;
  width: 100%;
}
#submit::before {
  content: \a;
  white-space: pre;
  padding: 10px;
  background-color: #A3D2B6;
}
#info {
  border: 0.5em solid black;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  background-color: #A3D2B6;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 800px){
  #info{
    width: 65%;
    flex-wrap: nowrap;
  }
}